<footer class="container main__footer">
  <div>
    <a href="/index.html">
      <i class="bi bi-code-slash"></i>
    </a>
  </div>
  <div>
    <h4>Information</h4>
    <ul class="list__items footer-navs">
      <li>Main</li>
      <li>Gallery</li>
      <li>Projects</li>
      <li>Certifications</li>
      <li>Contacts</li>
    </ul>
  </div>
  <div>
    <h4>Contacts</h4>
    <ul class="list__items">
      <li>
        <i class="bi bi-geo-alt"></i>1234 Sample Street Austin Texas 78704
      </li>
      <li>
        <i class="bi bi-telephone"></i>
        512.333.2222
      </li>
      <li>
        <i class="bi bi-envelope"></i>
        sampleemail@gmail.com
      </li>
    </ul>
  </div>
  <div class="social__media">
    <h4>Social Media</h4>
    <div>
      <i class="bi bi-facebook"></i>
      <i class="bi bi-twitter"></i>
      <i class="bi bi-linkedin"></i>
      <i class="bi bi-pinterest"></i>
    </div>
  </div>
</footer>
<hr class="footer__line" />
<p class="footer__text">© 2021 All Rights Reserved</p>
