<header class="main__header container">
    <div class="main__logo">
        <a href="/index.html">
            <i class="bi bi-code-slash"></i>
        </a>
    </div>

    <nav class="main__nav h-0">
        <ul class="main__nav-list">
            <li class="main__nav-item"><a class="main__nav-href" href="../index.html">Main</a></li>
            <li class="main__nav-item"><a class="main__nav-href" href="gallery.html">Gallery</a></li>
            <li class="main__nav-item"><a class="main__nav-href" href="project.html">Projects</a></li>
            <li class="main__nav-item"><a class="main__nav-href" href="sertificate.html">CERTIFICATIONS</a></li>
            <li class="main__nav-item"><a class="main__nav-href" href="contact.html">contact</a></li>
        </ul>
    </nav>
    <i class="bi bi-list toggle"></i>
</header>